* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  background-image: url(/images/backGroundWallPaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

* body header {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 4rem;
  padding-top: 1.4rem;
  background-color: rgba(0, 0, 0, 0.898);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

* body header .brand {
  margin-top: -1.2rem;
  border-radius: 5px;
}

* body header nav {
  color: #1093bb;
}

* body header nav a {
  color: #1093bb;
}

* body header nav .menu {
  display: none;
}

@media only screen and (min-width: 1024px) {
  * body header nav .menu {
    display: block;
  }
  * body header nav .menu a {
    text-decoration: none;
  }
}

* body header nav .dropDown {
  /* Dropdown Button */
  /* Dropdown button on hover & focus */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
}

@media only screen and (min-width: 1024px) {
  * body header nav .dropDown {
    display: none;
  }
}

* body header nav .dropDown .dropbtn {
  margin-top: -0.7rem;
  background-color: rgba(0, 0, 0, 0);
  color: #3472bd;
  padding: 10px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

* body header nav .dropDown .dropbtn:hover,
* body header nav .dropDown .dropbtn:focus {
  background-color: rgba(70, 69, 69, 0.648);
}

* body header nav .dropDown .dropdown {
  position: relative;
  display: inline-block;
}

* body header nav .dropDown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.968);
  width: 50vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding-top: 50%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
}

* body header nav .dropDown .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

* body header nav .dropDown .dropdown-content a:hover {
  background-color: rgba(70, 69, 69, 0.648);
}

* body header nav .dropDown .show {
  display: block;
}

* body header .socialIcons {
  display: none;
}

* body main {
  text-align: center;
  color: white;
}

* body footer {
  border: 1px solid black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.898);
  color: #3472bd;
}

* body footer a {
  text-decoration: none;
  color: #3472bd;
}

* body footer nav {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

* body footer .insperation {
  margin-bottom: 0.5rem;
}

* body footer .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

* body footer .socialIcons .socialGit {
  margin-top: 0.5rem;
}

* body footer .socialIcons .socialLd {
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}
/*# sourceMappingURL=style.css.map */