* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        background-color: aliceblue;

        header {
            display: flex;
            justify-content: space-evenly;
            height: 4rem;
            padding-top: 1.4rem;
            background-color: rgb(0, 0, 0);
            color: white;

            .brand {
                margin-top: -1.2rem;
            }

            nav {
                color: yellow;

                .menu {
                    display: none;
                    @media only screen and (min-width: 1024px) {
                        display: block;
                        a{
                            text-decoration: none;
                        }
                    }
                }

                .dropDown {
                    @media only screen and (min-width: 1024px) {
                        display: none;
                    }
                    /* Dropdown Button */
                    .dropbtn {
                        margin-top: -0.5rem;
                        background-color: black;
                        color: rgb(0, 110, 255);
                        padding: 10px;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                    }

                    /* Dropdown button on hover & focus */
                    .dropbtn:hover,
                    .dropbtn:focus {
                        background-color: #2980B9;
                    }

                    /* The container <div> - needed to position the dropdown content */
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    /* Dropdown Content (Hidden by Default) */
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        text-align: center;
                        z-index: 1;
                    }

                    /* Links inside the dropdown */
                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                    /* Change color of dropdown links on hover */
                    .dropdown-content a:hover {
                        background-color: #ddd
                    }

                    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
                    .show {
                        display: block;
                    }
                }
            }

            .socialIcons {
                display: none;
            }
        }

        footer {
            margin-top: 1rem;
            text-align: center;
            background-color: rgb(0, 0, 0);
            color: #2980B9;
        }
    }
}