body {
    background-color: rgb(108, 108, 108);

    .border,
    nav,
    header,
    main {
        border: 1px solid black;
    }

    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .brand {
            margin-right: 3rem;
        }

        .menu {
            margin-top: 0.5rem;
            margin-left: 3rem;

            .dropDown {
                border: 1px solid white;
                border-radius: 5px;
                .dropbtn {
                    height: 3rem;
                    background-color: #60778e;
                    border-radius: 5px;
                    color: rgb(255, 255, 255);
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }

                .dropbtn:hover,
                .dropbtn:focus {
                    background-color: #60778e;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #60778e;
                    border: 1px solid rgb(247, 247, 244);
                    border-radius: 5px;
                    min-width: 100px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    text-align: center;
                }

                .dropdown-content a {
                    color: rgb(255, 255, 255);
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .dropdown a:hover {
                    background-color: #ddd;
                }

                .show {
                    display: block;
                }

            }
        }

    }


    header {
        text-align: center;
        padding: 1rem;
    }

    main {
        text-align: center;
    }

    footer {
        display: flex;
    }

}